/* Dashboard.css */

.dashboard-container {
  padding: 20px;
  background-color: #F5F5F5;
}

.welcome-panel {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos (mensaje y botón) a los extremos */
  align-items: center;
  background-color: #169F85;
  padding: 10px;
  border-radius: 8px;
  color: white;
}

.dashboard-header {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logout-button {
  background-color: #ffffff;
  color: #169F85;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #0d7f67;
  color: white;
}

.dashboard-content {
  margin-top: 20px;
}

.contTable {
  margin-top: 20px;
}

.dashboard-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
}

.dashboard-button {
  padding: 10px 20px;
  background-color: #169F85;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dashboard-button:hover {
  background-color: #0d7f67;
  transform: translateY(-2px);
}

.tableStyle {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tableStyle th,
.tableStyle td {
  border: 1px solid #ddd;
  padding: 8px;
}

.colorTable th {
  background-color: #169F85;
  color: white;
}
